/** 主色 **/
$primary: #f66;
$primary-muted: #66f;
$secondary: #f90;
$secondary-muted: #09f;
$tertiary: #9c3;
$tertiary-muted: #3c9;
/** 块级色域 **/
$block-primary: #fff;
$block-secondary: #ddd;
$block-tertiary: #666;
/** 文本色域 **/
$text-primary: #fff;
$text-secondary: #666;
$text-tertiary: #333;
/** 模态色域 **/
$modal-primary: rgba(#000, .5);
$modal-secondary: rgba(#000, .7);
/** 状态色域 **/
$message: $secondary-muted;
$success: $tertiary-muted;
$failure: $primary;
$warning: $secondary;
/** 组件共态 **/
$border-radius: 5px;
$box-shadow: 0 0 15px rgba(#000, .3);
/** 函数共态 **/
@mixin square($size: 100px) {
	width: $size;
	height: $size;
}
@mixin ellipsis-line($line: 2) {
	/* stylelint-disable */
	display: -webkit-box;
	overflow: hidden;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line;
	/* stylelint-enable */
}
$breakpoints: (
	xs: "only screen and (max-width: 320px)",
	sm: "only screen and (max-width: 400px)",
	md: "only screen and (max-width: 500px)",
	lg: "only screen and (max-width: 768px)"
) !default;
@mixin autoResponse($breakpoint) {
	/* stylelint-disable-next-line */
	$query: map-get($breakpoints, $breakpoint);
	@if not $query {
		@error "No value found for `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.";
	}
	/* stylelint-disable-next-line */
	@media #{if(type-of($query) == "string", unquote($query), inspect($query))} {
		@content;
	}
}