@import "./assets/css/theme";
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: transparent;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-color: $primary;
}
html {
	@media screen and (max-width: 1000px) {
		font-size: calc(100vw / 7.5);
	}
}
body {
	-webkit-overflow-scrolling: auto;
}