@import "../../assets/css/theme";
.bruce-modal {
	&-component {
		display: flex;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 999999;
		justify-content: center;
		align-items: center;
		background-color: rgba(#000, .5);
		&.show {
			animation: bruce-modal-fade-in 300ms both;
			.bruce-modal-wrapper,
			.bruce-modal-toast {
				animation: bruce-modal-slide-in-up 300ms both;
			}
		}
		&.hide {
			animation: bruce-modal-fade-out 300ms both;
			.bruce-modal-wrapper,
			.bruce-modal-toast {
				animation: bruce-modal-slide-in-down 300ms both;
			}
		}
		.bruce-button-component {
			margin: 0 5px;
		}
	}
	&-wrapper {
		display: flex;
		flex-direction: column;
		min-width: 360px;
		max-width: 900px;
		min-height: 200px;
		max-height: 680px;
		background-color: #fff;
		box-shadow: $box-shadow;
	}
	&-title {
		display: flex;
		justify-content: space-between;
		padding-left: 10px;
		height: 40px;
		background-color: $primary;
		line-height: 40px;
		font-weight: normal;
		font-size: 14px;
		color: #fff;
	}
	&-body {
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: 20px;
	}
	&-custom {
		flex: 1;
	}
	&-btns {
		display: flex;
		justify-content: center;
		margin-top: 20px;
		height: 30px;
	}
	&-close-btn {
		width: 40px;
		height: 40px;
		background: url("../../assets/img/icon-close.png") no-repeat center/50% auto;
		cursor: pointer;
		transition: all 300ms;
		&:hover,
		&:active {
			transform: rotate(180deg);
		}
	}
	&-toast {
		display: flex;
		overflow: hidden;
		align-items: center;
		padding: 5px 15px;
		border-radius: 5px;
		width: fit-content;
		min-width: 80px;
		max-width: 600px;
		min-height: 30px;
		max-height: 400px;
		background-color: #fff;
		box-shadow: $box-shadow;
		line-height: 20px;
		text-align: justify;
		font-size: 12px;
		color: $text;
		word-break: break-all;
	}
}
@keyframes bruce-modal-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes bruce-modal-fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes bruce-modal-slide-in-up {
	from {
		transform: translate3d(0, 50px, 0) scale(.5);
	}
	to {
		transform: translate3d(0, 0, 0) scale(1);
	}
}
@keyframes bruce-modal-slide-in-down {
	from {
		transform: translate3d(0, 0, 0) scale(1);
	}
	to {
		transform: translate3d(0, 50px, 0) scale(.5);
	}
}