$red: #f66;
$pueple: #66f;
$orange: #f90;
$blue: #09f;
$cyan: #9c3;
$green: #3c9;
a,
b {
	margin: 0.2rem;
}
code {
	margin: 0.2rem;
	&.red {
		color: $red;
	}
}
hr {
	border-top-color: $red;
}
img[src^="https://img.shields.io"]:not(:last-child)
{
	margin-right: 0.4rem;
}
.center {
	margin: 0 auto;
}
.singlerow {
	display: block;
	position: relative;
	margin: 20px 0;
	line-height: 1.5;
}
.point {
	display: block;
	padding: 0 10px;
	font-style: normal;
	&::before {
		margin-right: 5px;
		font-weight: bold;
		font-size: 20px;
		content: "·";
	}
}
.mark-red {
	font-weight: bold;
	color: $red;
}
.mark-purple {
	font-weight: bold;
	color: $pueple;
}
.mark-orange {
	font-weight: bold;
	color: $orange;
}
.mark-blue {
	font-weight: bold;
	color: $blue;
}
.mark-cyan {
	font-weight: bold;
	color: $cyan;
}
.mark-green {
	font-weight: bold;
	color: $green;
}
/* 样式覆盖 */
.vp-hero-info-wrapper {
	min-height: 600px;
}
.vp-highlight-item-wrapper {
	transition: all 300ms;
}
.vp-feature-item {
	@media (width >= 1440px) {
		flex-basis: calc(33% - 3rem);
	}
}
